.order-container {
    font-size: 18px;
    margin: 30px 10%;
    color: var(--secondary-dark);
    cursor: default;
}

.order-heading {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}

.border-light {
    border: 1px solid var(--bg-dark);
    border-radius: 20px;
    box-shadow: 0 0 5px var(--bg-dark);
    padding: 20px;
    margin: 7px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-info {
    width: 70%;
}

.order-summary {
    height: fit-content;
}

h2 {
    font-size: inherit;
    font-weight: 700;
    margin: 0 0 10px 0;
}

input[type='text'] {
    background-color: var(--bg);
    border: 1px solid var(--bg-dark);
    border-radius: 20px;
    box-shadow: 0 0 3px var(--bg-dark) inset;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    font-family: var(--fonts-text);
    font-weight: 400;
    color: var(--secondary-dark);
    caret-color: var(--primary-light);
    cursor: text;
}

input:hover {
    transition: all 150ms;
}

input:hover, input:focus {
    border-color: var(--primary-light);
    box-shadow: 0 0 3px var(--primary-dark) inset;
    outline: none;
}
