<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link href="/styles/style.css" type="text/css" rel="stylesheet">

    <title>Личный кабинет</title>
</head>
<body>
    <div th:insert="~{header :: header}"></div>

    <div class="column-container">
        <div class="column-edge"></div>

        <div class="column-center">
            <div class="page-heading">Личный кабинет</div>

            <div class="page-heading2">Пользователь</div>
            <div class="border-light" style="margin: 0 20%;">
                <div>
                    <div class="text-label">Номер телефона</div>
                    <div th:text="${userDto.phoneNum}"></div>
                </div>
                <div>
                    <div class="text-label">ФИО</div>
                    <div th:text="${userDto.name}"></div>
                </div>
                <div>
                    <div class="text-label">Город оформления сим-карты</div>
                    <div th:text="${userDto.city}"></div>
                </div>
                <div>
                    <div class="text-label">Почта</div>
                    <div th:text="${userDto.mail}"></div>
                </div>
                <div>
                    <div class="text-label">Дата регистрации в TeleKORB</div>
                    <div th:text="${userDto.createdAt.toLocaleString()}"></div>
                </div>
            </div>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="rounded-btn red-btn big-btn">
                    Выйти
                </button>
            </form>
        </div>

        <div class="column-edge"></div>
    </div>
</body>
</html>