<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        
        <link href="/styles/style.css" type="text/css" rel="stylesheet">
        <link href="/styles/buy-sim.css" type="text/css" rel="stylesheet">

        <title>Заказ сим-карты</title>
    </head>
    <body>
        <div th:insert="~{header :: header}"></div>

        <div class="column-container">
            <div class="column-edge"></div>

            <div class="column-center">
                <form th:action="@{/buy-sim}" th:object="${userDto}" method="post">
                    <div class="order-container">
                        <div class="page-heading">Заказ сим-карты</div>
                        <div class="flex-row">
                            <div class="flex-column order-info">
                                <div class="border-light">
                                    <h2>Данные заказчика</h2>
                                    <input
                                        type="text"
                                        id="name"
                                        name="name"
                                        placeholder="ФИО"
                                        pattern="[А-яЁё \-]+"
                                        class="text-input"
                                    >
                                    <div class="flex-row" style="gap: 10px;">
                                        <input
                                            type="text"
                                            id="city"
                                            name="city"
                                            placeholder="Город"
                                            class="text-input flex-right"
                                        >
                                        <input
                                            type="email"
                                            id="mail"
                                            name="mail"
                                            placeholder="Почта"
                                            class="text-input"
                                        >
                                    </div>
                                </div>

                                <div class="border-light">
                                    <h2>Красивый номер</h2>
                                    <div>
                                        <input type="radio" name="phoneNum" id="phoneNum0" value="0" checked>
                                        <label for="phoneNum0">Случайный номер</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="phoneNum" id="phoneNum1" value="79123456789">
                                        <label for="phoneNum1">+7 (912) 345 67-89</label>
                                    </div>
                                </div>

                                <div class="border-light">
                                    <h2>Способ оплаты</h2>
                                    <div>
                                        <input type="radio" name="payment" id="payment1" value="KORB Pay" checked>
                                        <label for="payment1">KORB Pay</label>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-column" style="flex: 1;">
                                <div class="border-light order-summary">
                                    <h2>Заказ</h2>
                                    Proverka
                                    <div class="flex-row">
                                        <div><b>Итого</b></div>
                                        <div class="flex-right"><b>50 ₽</b></div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="rounded-btn red-btn border-light-margins">
                                    Оформить заказ
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <footer class="flex-row">
                    <div class="flex-right">
                        <b>25+</b> © 2025 ООО «KORB7»
                    </div>
                </footer>
            </div>
            
            <div class="column-edge"></div>
        </div>
    </body>
</html>