<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

        <link th:href="@{/styles/style.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/styles/buy-sim.css}" type="text/css" rel="stylesheet">

        <title>Заказ сим-карты</title>
    </head>
    <body>
        <div th:insert="~{header :: header}"></div>

        <div class="column-container">
            <div class="column-edge"></div>

            <div class="column-center">
                <form th:action="@{/buy-sim}" th:object="${userDto}" method="post">
                    <div class="order-container">
                        <div class="page-heading">Заказ сим-карты</div>
                        <div class="flex-row">
                            <div class="flex-column order-info">
                                <div class="border-light">
                                    <h2>Данные заказчика</h2>
                                    <input
                                        type="text"
                                        id="name"
                                        name="name"
                                        placeholder="ФИО"
                                        pattern="[А-яЁё \-]+"
                                        class="text-input"
                                    >
                                    <div class="flex-row" style="gap: 10px;">
                                        <input
                                            type="text"
                                            id="city"
                                            name="city"
                                            placeholder="Город"
                                            class="text-input flex-right"
                                        >
                                        <input
                                            type="email"
                                            id="mail"
                                            name="mail"
                                            placeholder="Почта"
                                            class="text-input"
                                        >
                                    </div>
                                </div>

                                <div class="border-light">
                                    <h2>Красивый номер</h2>
                                    <script>
                                        function changeOrderDetails(orderInfo1, orderCost1, orderTotal) {
                                            document.querySelector("#orderInfo1").innerHTML = orderInfo1;
                                            document.querySelector("#orderCost1").innerHTML = orderCost1;
                                            document.querySelector("#orderTotal").innerHTML = orderTotal;
                                        }
                                    </script>
                                    <div>
                                        <input type="radio" name="phoneNum" id="phoneNum0" value="0" checked onclick="changeOrderDetails('Случайный номер', 150, 150)">
                                        <label for="phoneNum0">Случайный номер</label>
                                        <small style="margin-left: 5px;">+150 ₽</small>
                                    </div>
                                    <div th:each="number : ${niceNumbers}">
                                        <input type="radio" name="phoneNum" th:id="${number.phone}" th:value="${number.phone}" th:onclick="changeOrderDetails('Красивый номер', [[${number.cost}]], [[${number.cost}]]);">
                                        <label th:for="${number.phone}" th:text="${number.getFormattedPhone()}">+7 (9xx) xxx xx-xx</label>
                                        <small style="margin-left: 5px;">+<span th:text="${number.cost.intValue()}"></span> ₽</small>
                                    </div>
                                </div>

                                <div class="border-light">
                                    <h2>Способ оплаты</h2>
                                    <div>
                                        <input type="radio" name="payment" id="payment1" value="KORB Pay" checked>
                                        <label for="payment1">KORB Pay</label>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-column" style="flex: 1;">
                                <div class="border-light order-summary">
                                    <h2>Заказ</h2>
                                    <div class="flex-row">
                                        <div id="orderInfo1">Случайный номер</div>
                                        <div class="flex-right">+<span id="orderCost1">150</span> ₽</div>
                                    </div>
                                    <div class="flex-row">
                                        <div><b>Итого</b></div>
                                        <div class="flex-right"><b><span id="orderTotal">150</span> ₽</b></div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="rounded-btn red-btn border-light-margins">
                                    Оформить заказ
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <footer class="flex-row">
                    <div class="flex-right">
                        <b>25+</b> © 2025 ООО «KORB7»
                    </div>
                </footer>
            </div>
            
            <div class="column-edge"></div>
        </div>
    </body>
</html>
