<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link href="/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/styles/login.css" type="text/css" rel="stylesheet">

    <title>TeleKORB</title>
</head>
<body>
<header>
    <a href="/" class="logo-frame">
        <img src="/images/logo.png" class="logo">
        TeleKORB
    </a>

    <div class="header-right">
        <a href="/buy-sim">
            <button class="rounded-btn white-btn">
                Заказать сим-карту
            </button>
        </a>

        <a href="/login" class="sign-in-link">
            <img src="/images/sign-in.svg">
            Войти
        </a>
    </div>
</header>

<div class="column-container">
    <div class="column-edge"></div>

    <div class="column-center">
        <div class="page-heading">Нет такой страницы!</div>

        <footer class="flex-row">
            <div class="flex-right">
                <b>25+</b> © 2025 ООО «KORB7»
            </div>
        </footer>
    </div>

    <div class="column-edge"></div>
</div>
</body>
</html>
