<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeleKORB Header</title>
</head>
<body>
    <header th:fragment="header">
        <a th:href="@{/}" class="logo-frame">
            <img th:src="@{/images/logo.png}" class="logo">
            TeleKORB
        </a>

        <div sec:authorize="!isAuthenticated()" class="header-right">
            <a th:href="@{/buy-sim}">
                <button class="rounded-btn white-btn">
                    Заказать сим-карту
                </button>
            </a>

            <a th:href="@{/login}" class="sign-in-link">
                <img th:src="@{/images/sign-in.svg}">
                Войти
            </a>
        </div>

        <div sec:authorize="isAuthenticated()" class="header-right">
            <a th:href="@{/account}" class="sign-in-link">
                <img th:src="@{/images/account.svg}">
                Личный кабинет
            </a>
        </div>
    </header>
</body>
</html>
