<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        
        <link href="/styles/style.css" type="text/css" rel="stylesheet">
        <link href="/styles/login.css" type="text/css" rel="stylesheet">

        <title>TeleKORB</title>
    </head>
    <body>
        <header>
            <a href="/" class="logo-frame">
                <img src="/images/logo.png" class="logo">
                TeleKORB
            </a>

            <div class="header-right">
                <a href="/buy-sim">
                    <button class="rounded-btn white-btn">
                        Заказать сим-карту
                    </button>
                </a>

                <a href="/login" class="sign-in-link">
                    <img src="/images/sign-in.svg">
                    Войти
                </a>
            </div>
        </header>

        <div class="column-container">
            <div class="column-edge"></div>

            <div class="column-center">
                <form th:action="@{/login}" th:object="${userDto}" method="post">
                    <div style="margin: 30px 25%;">
                        <div class="page-heading">Вход в личный кабинет</div>
    
                        <div class="border-light">
                            <label for="username" class="text-label" style="font-size: 1.25em;">Номер телефона</label>
                            <div class="flex-row">
                                <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    placeholder="79*********"
                                    minlength="11"
                                    maxlength="11"
                                    pattern="[78]9[0-9]{9}"
                                    class="text-input"
                                    style="flex: 1; margin-right: 10px;"
                                >
    
                                <button type="submit" class="rounded-btn red-btn big-btn" style="width: 25%; min-width: fit-content;">
                                    Войти
                                </button>
                            </div>

                            <div th:if="${param.error}" class="error">
                                ❗ Данный номер не является номером TeleKORB
                            </div>

                            <input type="password" id="password" name="password" value="" style="visibility: hidden; position: absolute">
                        </div>
                    </div>
                </form>

                <footer class="flex-row">
                    <div class="flex-right">
                        <b>25+</b> © 2025 ООО «KORB7»
                    </div>
                </footer>
            </div>
            
            <div class="column-edge"></div>
        </div>
    </body>
</html>
